@charset "utf-8";
@import url("base.css");
/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/

 .hide {
    display: none;
 }
 
.hira {
    font-family: "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
@font-face {
    font-family: "AcuminProCond-Bold";
    src: url("../fonts/AcuminProCond-Bold/AcuminProCond-Bold.eot");
    src: url("../fonts/AcuminProCond-Bold/AcuminProCond-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AcuminProCond-Bold/AcuminProCond-Bold.woff2") format("woff2"), url("../fonts/AcuminProCond-Bold/AcuminProCond-Bold.woff") format("woff"), url("../fonts/AcuminProCond-Bold/AcuminProCond-Bold.ttf") format("truetype"), url("../fonts/AcuminProCond-Bold/AcuminProCond-Bold.svg#AcuminProCond-Bold") format("svg");
}
.acumin {
    font-family: 'AcuminProCond-Bold';
}
body {
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
select::-ms-expand {
    display: none;
}
select::-ms-value {
    background: none;
    color: #666;
}
body.fixed {
    overflow: hidden;
}
.inner {
    width: 900px;
    padding: 0 30px;
    margin: 0 auto;
}
/*VALIDATE CONTACT*/

.error {
    display: block;
    font-size: 12px;
    color: red;
}
/* HEADER */

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
}
#header .headerBar .logo {
    width: 252px;
}
#header .headerBar .listLang {
    display: flex;
    background: #69b5ef;
    padding: 21px 0 17px;
}
#header .headerBar .listLang li a {
    display: block;
    color: #fff;
    font-weight: bold;
    min-width: 100px;
    border-right: 1px solid #008ec4;
    padding: 0 31px;
    line-height: 1.2;
    text-align: center;
}
#header .headerBar .listLang li:last-child a {
    border-right: none;
}
#header .mainMenu {
    border-top: 2px solid #1133ae;
    border-bottom: 2px solid #1133ae;
}
#header .mainMenu .menu li .sub-menu li a {
    display: block;
    background-color: #e9f7fb;
    text-align: left;
    padding: 13px;
    color: #000;
    /*line-height: 1.2;*/
}
#header .mainMenu .menu li a {
    font-size: 15px;
    padding: 8px 22px;
    display: block;
    text-align: center;
}
#breadCrumb {
    padding: 13px 0;
    position: relative;
    z-index: 1;
}
#breadCrumb .listBread {
    display: flex;
}
#breadCrumb .listBread li {
    position: relative;
}
#breadCrumb .listBread li:after {
    content: ">";
    margin: 0 13px;
}
#breadCrumb .listBread li:last-child:after {
    display: none;
}
#breadCrumb .listBread li, #breadCrumb .listBread li a {
    font-size: 12px;
}
#main {
    background: #f4f9fe url('../images/common/main-bg.png');
    margin-top: -44px;
}
#main .pageTitle {
    color: #1e3259;
    font-size: 26px;
    position: relative;
    padding: 60px 0 51px 38px;
    letter-spacing: 8px;
}
#main .pageTitle:before {
    content: "";
    width: 10px;
    height: 84px;
    background: url('../images/common/main-ttl-border.svg') no-repeat center center;
    position: absolute;
    bottom: 0;
    left: -2px;
}
/* CONTENT */

#content {
    width: 100%;
}
/* PAGE BG */

.pageBG {
    position: relative;
    padding-top: 95px;
}
.pageBG:before {
    content: "";
    width: 100%;
    height: 345px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../images/doctor/bg.jpg) no-repeat top center/cover;
}
#areaContact {
    background-color: #1133ae;
    color: #fff;
    padding: 44px 0 59px;
}
#areaContact a {
    color: #fff;
}
#areaContact .contactTitle {
    font-size: 29px;
    text-align: center;
    letter-spacing: 7.6px;
}
#areaContact .contactTitle span {
    font-size: 38px;
}
#areaContact .contactTitle small {
    font-size: 22px;
}
#areaContact .boxPhone {
    position: relative;
    border: 1px solid #fff;
    margin-top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 0 7px;
}
#areaContact .boxPhone .boxPhoneHead {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    color: #dbf1df;
    background-color: #008ec4;
    width: 262px;
    text-align: center;
    font-weight: bold;
    padding: 3px 0 4px;
    line-height: 1;
    letter-spacing: 6px;
    font-size: 20px;
}
#areaContact .boxPhone .phone {
    margin-right: 27px;
}
#areaContact .boxPhone .phone a {
    font-size: 58px;
    font-weight: bold;
    line-height: 1;
    padding-left: 53px;
    letter-spacing: 2.7px;
    position: relative;
}
#areaContact .boxPhone .phone a:before {
    content: "";
    width: 36px;
    height: 36px;
    background: url('../images/common/ico-phone.svg') no-repeat center center;
    position: absolute;
    left: 0;
    bottom: 16px;
}
#areaContact .boxPhone .address {
    margin-top: 11px;
}
#areaContact .btnContact {
    margin-top: 43px;
}
#areaContact .btnContact a {
    text-align: center;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    background: #f26666 url('../images/common/ico-arrow-link.svg') no-repeat center right 33.5px/24px;
    width: 100%;
    padding: 16px 0 15.5px;
    display: block;
    position: relative;
    letter-spacing: 0.8px;
    text-indent: 40px;
    border-radius: 11px;
}
#areaContact .btnContact a:before {
    content: "";
    width: 67px;
    height: 88px;
    background: url('../images/common/ico-note.svg') no-repeat center center;
    position: absolute;
    left: 34.5px;
    bottom: 15px;
}
#fixedSection {
    position: fixed;
    right: 0;
    top: 54.8%;
    transform: translateY(-50%);
    z-index: 998;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}
#fixedSection.scrolling {
    opacity: 1;
    visibility: visible;
}
#fixedSection .fixedButton {
    width: 84px;
}
#fixedSection .scrollToTop {
    width: 61px;
    margin: 14px auto 0;
}
/* FOOTER */

#footer {
    width: 100%;
    padding: 35px 0 33px;
}
#footer .ftWrapper {
    display: flex;
}
#footer .ftWrapper .ftInfo {
    margin-right: 88px;
}
#footer .ftWrapper .ftInfo .logo {
    width: 223px;
}
#copyright {
    font-size: 12px;
    letter-spacing: 0.75px;
    margin-top: 100px;
}
#footer .ftWrapper .ftMenu {
    display: flex;
}
#footer .ftWrapper .ftMenu .menu+.menu {
    margin-left: 43px;
}
#footer .ftWrapper .ftMenu .menu li+li {
    margin-top: 5px;
}
#footer .ftWrapper .ftMenu .menu li a {
    font-size: 12px;
    color: #555;
}
.areaTitle {
    font-size: 94px;
    color: #1133ae;
    letter-spacing: 7.4px;
    margin-left: calc((100% - 840px)/2);
    margin-bottom: 109px;
    position: relative;
}
.areaTitle:before, .areaTitle:after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 12px;
    width: 100%;
    background-color: #2dbbff;
}
.areaTitle:after {
    width: 66px;
    background-color: #1133ae;
}
.areaTitleLead {
    color: #1133ae;
    font-size: 28px;
    letter-spacing: 1.5px;
    padding-bottom: 15px;
    position: relative;
}
.areaTitleLead:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 5px;
    background-color: #1133ae;
}
.areaText {
    font-size: 18px;
    line-height: 1.9;
    letter-spacing: 2.4px;
    margin-top: 22px;
}
.pagingNav {
    margin-top: 69px;
}
.pagingNav .pagi_nav_list {
    display: flex;
    justify-content: center;
}
.pagingNav .pagi_nav_list li+li {
    margin-left: 9px;
}
.pagingNav .pagi_nav_list li a {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #1133ae;
    font-weight: bold;
    border: 1px solid #1133ae;
    width: 54px;
    padding: 13px 0 12px;
}
.pagingNav .pagi_nav_list li.p-control a {
    width: 78px;
}
.pagingNav .pagi_nav_list li.active a {
    background: #1133ae;
    color: #fff;
}
.sp {
    display: none;
}
/* PC ONLY */

@media (min-width: 769px) {
    #header .headerBar .inner {
        display: flex;
        justify-content: space-between;
    }
    #header .headerBar .logo {
        margin-top: 7px;
    }
    #header .headerBar .listLang li a {
        transition: 0.3s;
    }
    #header .headerBar .listLang li a:hover {
        color: #1133ae;
    }
    #header .mainMenu .menu {
        display: flex;
        justify-content: space-between;
    }
    #header .mainMenu .menu li a {
        transition: 0.3s;
    }
    #header .mainMenu .menu li a:hover, #header .mainMenu .menu li.current-menu-item a {
        color: #fff;
        background-color: #1133ae;
    }
    #header .mainMenu .menu li a:hover, #header .mainMenu .menu li.anchorLink a {
        color: #000;
        background-color: #fff;
    }
    #header .mainMenu .menu li.menu-item-has-children {
        position: relative;
    }
    #header .mainMenu .menu li .sub-menu {
        position: absolute;
        display: none;
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
    }
    #header .mainMenu .menu li.menu-item-has-children:hover>.sub-menu {
        display: block;
    }
    #header .mainMenu .menu li .sub-menu li a:hover {
        background-color: #1133ae;
        color: #fff;
    }
    #breadCrumb .listBread li a:hover {
        text-decoration: underline
    }
    #footer .ftWrapper .ftInfo .logo {
        transform: translate(4px, -4px);
    }
    #footer .ftWrapper .ftMenu .menu li a {
        position: relative;
        display: inline-block;
        transition: 0.3s;
    }
    #footer .ftWrapper .ftMenu .menu li a:hover {
        color: #2dbbff;
    }
    #footer .ftWrapper .ftMenu .menu li a:before {
        content: "";
        position: absolute;
        left: -12px;
        top: 50%;
        transform: translateY(-50%);
        width: 7px;
        height: 11px;
        background: url('../images/common/ico-arrow-blue.svg') no-repeat center center/7px 11px;
        opacity: 0;
        transition: 0.3s;
    }
    #footer .ftWrapper .ftMenu .menu li a:after {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: 0.3s;
        background-color: #2dbbff;
    }
    .iOS #areaContact .boxPhone {
        padding: 22px 0 0;
    }
    #footer .ftWrapper .ftMenu .menu li a:hover:before {
        opacity: 1;
    }
    #footer .ftWrapper .ftMenu .menu li a:hover:after {
        opacity: 1;
    }
    #footer .ftWrapper .ftMenu .menu li.current-menu-item a:before, #footer .ftWrapper .ftMenu .menu li.current-menu-item a:after {
        opacity: 1;
    }
    #areaContact .inner {
        width: 833px;
    }
    #areaContact .boxPhone .phone a {
        pointer-events: none;
    }
    .pagingNav .pagi_nav_list li a {
        transition: 0.3s;
    }
    .pagingNav .pagi_nav_list li a:hover {
        background: #1133ae;
        color: #fff;
    }
}
/* FIX TABLET */

@media (max-width: 917px) and (min-width: 769px) {
    .inner {
        width: 100%;
    }
    #header .mainMenu .menu {
        justify-content: center;
    }
    #header .mainMenu .menu li a {
        padding: 7px 11px;
    }
    .areaTitle {
        margin-left: 30px;
    }
}
@media (max-width: 849px) and (min-width: 769px) {
    #areaContact .inner {
        width: 100%;
    }
    #areaContact .btnContact a {
        background-position: center right 4%;
    }
    #areaContact .btnContact a:before {
        left: 4%;
    }
}
/* STYLE MOBILE */

@media (max-width: 768px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    .inner {
        width: 100%;
        padding: 0 6.3%;
    }
    #header .headerBar .headerUp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 14px;
    }
    #header .headerBar .inner {
        padding: 0;
    }
    #header .headerBar .logo {
        width: 228px;
    }
    #header .headerBar .listLang {
        padding: 8px 0 6px;
    }
    #header .headerBar .listLang li {
        width: calc(100%/3);
    }
    #header .headerBar .listLang li a {
        line-height: 1.2;
    }
    #header .mainMenu {
        border: none;
        background-color: #1133ae;
        padding: 35px 0;
        height: calc(100vh - 78px);
        overflow-y: auto;
        display: none;
    }
    #header .mainMenu .menu li+li {
        margin-top: 20px;
    }
    #header .mainMenu .menu li a {
        color: #fff;
        padding: 0;
        text-align: left;
    }
    #header .mainMenu .menu li.current-menu-item a {
        color: #2dbbff;
    }
    #header .mainMenu .menu li .sub-menu li {
        margin-top: 20px;
    }
    #header .mainMenu .menu li .sub-menu li a {
        background: none;
        padding: 0 0 0 20px;
        background: url('../images/common/ico-arrow-sub-menu.svg') no-repeat left 6px center/6px 11px;
    }
    #header .mainMenu .menu li .sub-menu li a br {
        display: none;
    }
    /* MENU */
    .hamburger {
        width: 47px;
        height: 47px;
        padding: 5px 5px 0;
        z-index: 9991;
        background: #1433ae;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .hamburger small {
        text-align: center;
        color: #fff;
        font-size: 8px;
        margin-top: 3px;
        transition: 0.3s;
    }
    .hamburger span {
        display: block;
        height: 1px;
        width: 24px;
        background: #fff;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .hamburger span:nth-child(1) {
        margin-bottom: 7px;
    }
    .hamburger span:nth-child(2) {
        opacity: 1
    }
    .hamburger span:nth-child(3) {
        margin-top: 7px;
    }
    .hamburger.open span:nth-child(1) {
        margin-bottom: -1px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.open span:nth-child(3) {
        margin-top: -1px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .hamburger.open small {
        transform: translateY(8px);
    }
    #breadCrumb {
        padding: 14px 0;
    }
    #breadCrumb .listBread li a {
        font-size: 14px;
    }
    #breadCrumb .listBread li {
        font-size: 13px;
    }
    #breadCrumb .listBread li:after {
        font-size: 15px;
        margin: 0 7px 0 12px;
        vertical-align: middle;
    }
    #main {
        margin-top: -51px;
    }
    #main .pageTitle {
        padding: 53px 0 22px 26px;
    }
    #main .pageTitle:before {
        width: 12px;
        height: 54px;
    }
    /* PAGE BG */
    .pageBG {
        padding-top: 33px;
    }
    .pageBG:before {
        height: 225px;
    }
    #areaContact {
        padding: 30px 0 46px;
    }
    #areaContact .contactTitle {
        font-size: 20.5px;
        letter-spacing: 6px;
        line-height: 1.3;
    }
    #areaContact .contactTitle span {
        font-size: 27px;
    }
    #areaContact .contactTitle small {
        font-size: 15.5px;
    }
    #areaContact .boxPhone {
        width: 93.5%;
        margin: 37px auto 0;
        display: block;
        padding: 19px 0 10px;
    }
    #areaContact .boxPhone .boxPhoneHead {
        padding: 3px 0;
        width: 240.5px;
        letter-spacing: 3.6px;
    }
    #areaContact .boxPhone .phone {
        margin-right: 0;
        text-align: center;
    }
    #areaContact .boxPhone .phone a {
        font-size: 43px;
        padding-left: 38px;
        letter-spacing: 2px;
        display: inline-block;
    }
    #areaContact .boxPhone .phone a:before {
        width: 27px;
        height: 27px;
        bottom: 6px;
    }
    #areaContact .boxPhone .address {
        text-align: center;
        font-size: 13px;
        margin-top: 4px;
    }
    #areaContact .btnContact {
        margin-top: 27px;
    }
    #areaContact .btnContact a {
        font-size: 20.5px;
        background: #f26666;
        text-indent: 0;
        padding: 49px 8px 9px;
    }
    #areaContact .btnContact a:before {
        top: -19px;
        bottom: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 46px;
        height: 59.5px;
    }
    #fixedSection {
        transform: none;
        bottom: 0;
        top: auto;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 15px 4.8% 15px 4%;
        background-color: #fff;
    }
    #fixedSection.scrolling {
        display: flex;
    }
    #fixedSection .fixedButton {
        margin-right: 22px;
        width: calc(100% - 69px);
    }
    #fixedSection .scrollToTop {
        width: 46px;
        margin: 0;
    }
    #footer {
        padding: 17px 0 96px;
    }
    #footer .ftWrapper .ftMenu, #footer .ftWrapper .ftInfo .logo {
        display: none;
    }
    #footer .ftWrapper {
        display: block;
    }
    #footer .ftWrapper .ftInfo {
        margin-right: 0;
    }
    #copyright {
        text-align: center;
        margin-top: 0;
    }
    .areaTitle {
        font-size: 60px;
        margin-left: 6.3%;
        letter-spacing: 4.5px;
        margin-bottom: 44px;
    }
    .areaTitle:before, .areaTitle:after {
        bottom: -3px;
        height: 9px
    }
    .areaTitle:after {
        width: 48px;
    }
    .areaTitleLead {
        font-size: 20px;
        padding-bottom: 9px;
    }
    .areaTitleLead:before {
        width: 83px;
    }
    .areaText {
        font-size: 15px;
        letter-spacing: 2.1px;
        margin-top: 20px;
    }
    .pagingNav {
        margin-top: 133px;
    }
    .pagingNav .pagi_nav_list li+li {
        margin-left: 7px;
    }
    .pagingNav .pagi_nav_list li a {
        font-size: 13px;
        width: 36px;
        padding: 9px 0 6px;
    }
    .pagingNav .pagi_nav_list li.p-control a {
        width: 53px;
    }
}
/*IE FIX*/

@media all and (-ms-high-contrast:none) {
    #areaContact .boxPhone .boxPhoneHead {
        padding: 5px 0 2px;
    }
}
/*IP5*/

@media(max-width: 320px) {}